<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
	    <tab id="webscale" translate="label" sortOrder="10">
             <label>Webscale</label>
        </tab>
        <section id="cachemanager" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cache Manager</label>
            <tab>webscale</tab>
            <resource>Webscalenetworks_CacheManager::all</resource>
            <group id="config" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <requires>
                        <field id="token"/>
                        <field id="app_name"/>
                    </requires>
                </field>
                <field id="token" translate="label comment" sortOrder="20" type="password" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Token</label>
                    <validate>required-entry</validate>
                </field>
                <field id="query" translate="label comment" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Query String</label>
                </field>
                <field id="app_name" translate="label comment" sortOrder="40" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Application ID (Webscale portal)</label>
                </field>
            </group>
        </section>
    </system>
</config>

